PROJECT_DIR=
DEBUG_IP=

WEBHOOK_SECRET_TOKEN=
CRON_SECRET_TOKEN=
BZB_TT_SECRET_KEY=

TELEGRAM_BOT_TOKEN=
TELEGRAM_BOTLOG_TOKEN=
ADMIN_CHAT_ID=123456789
ADMIN_CHAT_IDS=123456789,987654321
CLIENT_BOT_URL=https://t.me/school_shedule_bezborodov_bot

DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=
DB_CHARSET=utf8mb4

RELAY_URL=
RELAY_SECRET_TOKEN=
RELAY_TARGET_URL=
RELAY_ALLOWED_HOSTS=api.telegram.org
