.form {
    &,
    &__dependence {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__dependence {
        gap: 5px;
    }

    &__title {
        width: 100%;
        text-align: center;
        padding: 3px 0;
        border-radius: 5px;
        font-size: 15.5px;
        font-weight: 600;
        transition: 0.5s;
        // text-transform: uppercase;
        user-select: none;
        opacity: 0.8;
    }

    &__field {
        width: 100% !important;
    }

    &:has(input:focus),
    &:has(button:focus) {
        .form__title {
            font-weight: 800;
            opacity: 0.8;
        }
    }
}
